/* about style */
.about {
    background-color: violet;
}
.project {
    background-color: green;
}
/* project style */
.project_title {
    font-size: 60px;
    color: brown;
}
/* work style  */
.work {
    background-color: aqua;
}
/* education  */
.education {
    background-color: yellow;
}
.aside {
    background-color: coral;
}